div#content {
	background-color: #fff;
	border-top: 5px solid #16a085;
	margin-top: 20px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

div#content div#sub-nav {
	padding: 20px 20px 0;
}

div#content div#sub-nav ul.nav {
	margin-bottom: 0;
}

div#content div#main-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0 20px;
	padding: 20px 12px;
}