div#header {
	border-top: 4px solid #1abc9c;
}

div#content div#login {
	margin: 20px auto 20px;
	width: 400px;
}

div#content div#login h2 {
	color: #1abc9c;
}

div#content div#login div.alert {
	margin-top: 20px;
	font-size: 13px;
}

div#content div#login form#login-form {
	background: #fff;
	border: 1px solid #dedede;
	color: #666;
	font-size: 12px;
	margin: 20px auto;
	padding: 40px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div#content div#login form#login-form label {
	font-size: 12px;
}

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div#content div#login {
		width: 300px;
	}

	div#content div#login form#login-form {
		padding: 20px;
	}
}