html, body {
	background: #f3f3f3;
	font-family: "Microsoft YaHei", "Segoe UI Light", "Segoe UI", "Heiti SC";
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

select, 
input[type=text], 
input[type=password] {
	border-width: 1px;
}

div.container {
	width: 960px;
}

div#upgrade-browser {
	background-color: #fae692;
	color: #333;
	font-size: 12px;
	padding: 15px 0;
}

div#upgrade-browser h6,
div#upgrade-browser p {
	margin: 0;
}

div#upgrade-browser h6 {
	font-weight: bold;
	text-transform: none;
}

div#upgrade-browser div.span8 {
	background: url('../img/upgrade-browser.png') no-repeat;
}

div#upgrade-browser div.span8 div.notice {
	padding-left: 50px;
}

div#upgrade-browser div.span4 {
	text-align: right;
}

div#upgrade-browser div.span4 button {
	margin-right: 10px;
}

div#header {
	overflow: hidden;
	padding: 20px 0;
	top: 0;
}

div#header div#logo img {
	max-height: 40px;
}

div#header div#nav {
	margin-top: 12px;
	text-align: right;
}

div#drawer-nav {
	background-color: #000;
	color: #fff;
	filter: alpha(opacity=85);
	opacity: .85;
	padding: 30px 40px;
	position: fixed;
	top: 0;
	right: -320px;
	bottom: 0;
	z-index: 256;
}

div#drawer-nav span.close-trigger {
	position: absolute;
	right: 40px;
	top: 30px;
}

div#drawer-nav div.section {
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-right: 60px;
}

div#drawer-nav div#accounts.section {
	border-bottom: 1px solid #606060;
	margin-top: 60px;
}

div#drawer-nav div#profile {
	font-size: 12px;
}

div#drawer-nav div#profile img {
	width: 128px;
	max-width: 128px;
}

div#drawer-nav div#profile h5 {
	margin-top: 20px;
	text-transform: lowercase;
}

div#drawer-nav div#profile ul.inline > li {
	padding-left: 0;
}

div#footer {
	color: #000;
	font-size: 12px;
	margin-top: 20px;
	padding: 20px 0;
	text-align: center;
}

div#footer span#police-icp-number img {
	height: 14px;
	width: 14px;
	margin-top: -3px;
}

div#footer ul#footer-nav a {
	color: #333;
}

/* Style for Markdown Editor */
div.wmd-button-bar {
	background-color: transparent;
	border: 2px solid #ccc;
	border-bottom: 0;
	clear: both;
	margin: 10px 0 0 0;
	padding: 0 12px;
	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
}

div.wmd-button-bar ul {
	margin: 0;
	padding: 15px 0;
}

div.wmd-button-bar li {
	display: inline-block;
	display: *inline;
	list-style: none;
	zoom: 1;
}

div.wmd-button-bar li.wmd-spacer {
	width: 20px;
}

div.wmd-button-bar li.wmd-button > span {
	background-image: url('../img/wmd-buttons.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	display: *inline;
	height: 20px;
	width: 20px;
	zoom: 1;
}

div.wmd-panel textarea.wmd-input {
	height: 240px;
	line-height: 1.2;
	padding: 10px;
	resize: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
}

div.wmd-preview {
	background-image: url('../img/wmd-draft.png');
	border: 1px dotted #ccc;
	clear: both;
	margin-top: 10px;
	padding: 10px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div.wmd-prompt-background {
	background-color: #000;
	opacity: .5;
}

div.wmd-prompt-dialog {
	background-color: #fff;
}

/* Style for Markdown Style */
div.markdown h1 {
	font-size: 16px;
}

div.markdown h2 {
	font-size: 14px;
}

div.markdown h3 {
	font-size: 12px;
}

div.markdown h4 {
	font-size: 10px;
}

div.markdown h5 {
	font-size: 8px;
}

div.markdown h6 {
	font-size: 6px;
}

div.markdown blockquote,
div.markdown blockquote p {
	font-size: 14px;
	line-height: 120%;
}

div.markdown code {
	color: #333;
	word-wrap: break-word;
	white-space: pre;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div.container {
		width: 768px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#header div#logo {
		text-align: center;
	}

	div#header div#nav {
		margin-top: 20px;
		text-align: center;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.container {
		width: 480px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div.container {
		width: 300px;
	}

	div#footer span#icp-number {
		display: block;
	}

	div#footer span#police-icp-number {
		display: block;
	}
}
