<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" lang="en">
<head>
    <title th:text="#{voj.accounts.reset-password.title} + ' | ' + ${websiteName}">Reset Password</title>
    <link rel="stylesheet" type="text/css" th:href="|${cdnUrl}/css/accounts/reset-password.css?v=${version}|" />
</head>
<body>
    <div id="content" layout:fragment="content">
        <div id="reset-password">
            <h2 th:text="#{voj.accounts.reset-password.reset-password}">Reset Password</h2>
            <div class="alert alert-error hide"></div> <!-- .alert-error -->
            <div class="alert alert-success hide"></div> <!-- .alert-success -->
            <form id="reset-password-form" method="POST" onSubmit="onSubmit(); return false;" th:if="${isTokenValid}">
                <p class="row-fluid">
                    <label for="email" th:text="#{voj.accounts.reset-password.email}">email</label>
                    <input id="email" name="email" class="span12" type="text" th:value="${email}" maxlength="64" disabled="disabled" />
                </p>
                <p class="row-fluid">
                    <label for="new-password" th:text="#{voj.accounts.reset-password.new-password}">New Password</label>
                    <input id="new-password" name="new-password" class="span12" type="password" maxlength="16" />
                </p>
                <p class="row-fluid">
                    <label for="confirm-new-password" th:text="#{voj.accounts.reset-password.confirm-new-password}">Confirm New Password</label>
                    <input id="confirm-new-password" name="confirm-new-password" class="span12" type="password" maxlength="16" />
                </p>
                <p>
                    <input id="csrf-token" type="hidden" th:value="${_csrf.token}" />
                    <button class="btn btn-primary btn-block" type="submit" th:text="#{voj.accounts.reset-password.reset-password}">Reset Password</button>
                </p>
            </form> <!-- #reset-password-form -->
            <form id="reset-password-form" method="POST" onSubmit="onSubmit(); return false;" th:unless="${isTokenValid}">
                <p class="row-fluid">
                    <label for="username" th:text="#{voj.accounts.reset-password.username}">Username</label>
                    <input id="username" name="username" class="span12" type="text" maxlength="16" />
                </p>
                <p class="row-fluid">
                    <label for="email" th:text="#{voj.accounts.reset-password.email}">Email</label>
                    <input id="email" name="email" class="span12" type="text" maxlength="64" />
                </p>
                <p>
                    <input id="csrf-token" type="hidden" th:value="${_csrf.token}" />
                    <button class="btn btn-primary btn-block" type="submit" th:text="#{voj.accounts.reset-password.send-verification-email}">Send Verification Email</button>
                </p>
            </form> <!-- #reset-password-form -->
        </div> <!-- #reset-password -->
    </div> <!-- #content -->

    <th:block layout:fragment="scripts">
    <th:block th:if="${isTokenValid}">
    <script type="text/javascript" th:inline="javascript">
        function onSubmit() {
            $('.alert-error').addClass('hide');
            $('button[type=submit]').attr('disabled', 'disabled');
            $('button[type=submit]').html([[#{voj.accounts.reset-password.please-wait}]]);

            var email           = [[${email}]],
                token           = [[${token}]],
                newPassword     = $('#new-password').val()
                confirmPassword = $('#confirm-new-password').val(),
                csrfToken       = $('#csrf-token').val();

            return doResetPasswordAction(email, token, newPassword, confirmPassword, csrfToken);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function doResetPasswordAction(email, token, newPassword, confirmPassword, csrfToken) {
            var postData = {
                'email': email,
                'token': token,
                'newPassword': newPassword,
                'confirmPassword': confirmPassword,
                'csrfToken': csrfToken
            };

            $.ajax({
                type: 'POST',
                url: [[@{/accounts/resetPassword.action}]],
                data: postData,
                dataType: 'JSON',
                success: function(result){
                    return processResult(result);
                }
            });
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function processResult(result) {
            if ( result['isSuccessful'] ) {
                $('.alert-success').html([[#{voj.accounts.reset-password.password-resetted}]]);
                $('.alert-success').removeClass('hide');
                $('#reset-password-form').addClass('hide');
            } else {
                var errorMessage  = '';

                if ( !result['isCsrfTokenValid'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.invalid-csrf-token}]] + '<br>';
                }
                if ( !result['isEmailValidationValid'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.invalid-email-token}]] + '<br>';
                }
                if ( result['isNewPasswordEmpty'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.new-password-empty}]] + '<br>';
                } else if ( !result['isNewPasswordLegal'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.new-password-illegal}]] + '<br>';
                }
                if ( !result['isConfirmPasswordMatched'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.new-password-not-matched}]] + '<br>';
                }
                $('.alert-error').html(errorMessage);
                $('.alert-error').removeClass('hide');
            }

            $('button[type=submit]').html([[#{voj.accounts.reset-password.reset-password}]]);
            $('button[type=submit]').removeAttr('disabled');
        }
    </script>
    </th:block>
    <th:block th:unless="${isTokenValid}">
    <script type="text/javascript" th:inline="javascript" th:if="${!#strings.isEmpty(token)}">
        $(function() {
            $('.alert-error').html([[#{voj.accounts.reset-password.invalid-email-token}]]);
            $('.alert-error').removeClass('hide');
            $('#reset-password-form').addClass('hide');
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function onSubmit() {
            $('.alert-error').addClass('hide');
            $('button[type=submit]').attr('disabled', 'disabled');
            $('button[type=submit]').html([[#{voj.accounts.reset-password.please-wait}]]);

            var username    = $('#username').val(),
                email       = $('#email').val(),
                csrfToken   = $('#csrf-token').val();

            return doResetPasswordAction(username, email, csrfToken);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function doResetPasswordAction(username, email, csrfToken) {
            var postData = {
                'username': username,
                'email': email,
                'csrfToken': csrfToken
            };

            $.ajax({
                type: 'POST',
                url: [[@{/accounts/forgotPassword.action}]],
                data: postData,
                dataType: 'JSON',
                success: function(result){
                    return processResult(result);
                }
            });
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function processResult(result) {
            if ( result['isSuccessful'] ) {
                $('.alert-success').html([[#{voj.accounts.reset-password.mail-sent}]]);
                $('.alert-success').removeClass('hide');
                $('#reset-password-form').addClass('hide');
            } else {
                var errorMessage  = '';

                if ( !result['isCsrfTokenValid'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.invalid-csrf-token}]] + '<br>';
                } else if ( !result['isUserExists'] ) {
                    errorMessage += [[#{voj.accounts.reset-password.user-not-exists}]] + '<br>';
                }
                $('.alert-error').html(errorMessage);
                $('.alert-error').removeClass('hide');
            }

            $('button[type=submit]').html([[#{voj.accounts.reset-password.send-verification-email}]]);
            $('button[type=submit]').removeAttr('disabled');
        }
    </script>
    </th:block>
    </th:block>
</body>
</html>
