<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}" lang="en">
<head>
    <title th:text="#{voj.administration.all-problems.title} + ' | ' + ${websiteName}">All Problems</title>
</head>
<body>
    <div id="content" layout:fragment="content">
        <h2 class="page-header"><i class="fa fa-question-circle"></i> <span th:text="#{voj.administration.all-problems.all-problems}">All Problems</span></h2>
        <div class="alert alert-error hide"></div> <!-- .alert-error -->
        <div id="filters" class="row-fluid">
            <div class="span4">
                <div class="row-fluid">
                    <div class="span8">
                        <select id="actions">
                            <option value="delete" th:text="#{voj.administration.all-problems.delete}">Delete</option>
                        </select>
                    </div> <!-- .span8 -->
                    <div class="span4">
                        <button class="btn btn-danger" th:text="#{voj.administration.all-problems.apply}">Apply</button>
                    </div> <!-- .span4 -->
                </div> <!-- .row-fluid -->
            </div> <!-- .span4 -->
            <div class="span8 text-right">
                <form th:action="@{/administration/all-problems}" method="GET" class="row-fluid">
                    <div class="span5">
                        <div class="control-group">
                            <input id="keyword" name="keyword" class="span12" type="text" th:placeholder="#{voj.administration.all-problems.keyword}" th:value="${keyword}" />
                        </div> <!-- .control-group -->
                    </div> <!-- .span5 -->
                    <div class="span5">
                        <select name="problemCategory" id="problem-category">
                            <option value="" th:text="#{voj.administration.all-problems.all-problem-categories}">All Problem Categories</option>
                            <option th:each="problemCategory : ${problemCategories}" th:value="${problemCategory.problemCategorySlug}" th:selected="${problemCategory.problemCategorySlug == selectedProblemCategory}" th:text="${problemCategory.problemCategoryName}">Category</option>
                        </select>
                    </div> <!-- .span5 -->
                    <div class="span2">
                        <button class="btn btn-primary" th:text="#{voj.administration.all-problems.filter}">Filter</button>
                    </div> <!-- .span2 -->
                </form> <!-- .row-fluid -->
            </div> <!-- .span8 -->
        </div> <!-- .row-fluid -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="check-box">
                        <label class="checkbox" for="all-problems">
                            <input id="all-problems" type="checkbox" data-toggle="checkbox" />
                        </label>
                    </th>
                    <th class="problem-id">#</th>
                    <th class="problem-is-public" th:text="#{voj.administration.all-problems.is-public}">Public/Private</th>
                    <th class="problem-name" th:text="#{voj.administration.all-problems.problem-name}">Problem Name</th>
                    <th class="problem-categories" th:text="#{voj.administration.all-problems.problem-categories}">Categories</th>
                    <th class="problem-tags" th:text="#{voj.administration.all-problems.problem-tags}">Tags</th>
                    <th class="total-submission" th:text="#{voj.administration.all-problems.total-submissions}">Total Submissions</th>
                    <th class="accepted-submission" th:text="#{voj.administration.all-problems.accepted-submissions}">Accepted Submissions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="problem : ${problems}" th:attr="data-value=${problem.problemId}">
                    <td class="check-box">
                        <label class="checkbox" th:for="|problem-${problem.problemId}|">
                            <input th:id="|problem-${problem.problemId}|" type="checkbox" th:value="${problem.problemId}" data-toggle="checkbox" />
                        </label>
                    </td>
                    <td class="problem-id">
                        <a th:href="@{/administration/edit-problem/{id}(id=${problem.problemId})}" th:text="${problem.problemId}">1</a>
                    </td>
                    <td class="problem-is-public">
                        <span th:if="${problem.isPublic()}" th:text="#{voj.administration.all-problems.public}">Public</span>
                        <span th:unless="${problem.isPublic()}" th:text="#{voj.administration.all-problems.private}">Private</span>
                    </td>
                    <td class="problem-name" th:text="${problem.problemName}">Name</td>
                    <td class="problem-categories">
                        <th:block th:if="${problemCategoryRelationships[problem.problemId] != null}">
                            <th:block th:each="problemCategory,loop : ${problemCategoryRelationships[problem.problemId]}"><a th:href="@{/administration/all-problems(problemCategory=${problemCategory.problemCategorySlug})}" th:text="${problemCategory.problemCategoryName}">Category</a><span th:unless="${loop.last}">, </span></th:block>
                        </th:block>
                    </td>
                    <td class="problem-tags">
                        <th:block th:if="${problemTagRelationships[problem.problemId] != null}">
                            <th:block th:each="problemTag,loop : ${problemTagRelationships[problem.problemId]}"><a th:href="@{/administration/all-problems(problemTag=${problemTag.problemTagSlug})}" th:text="${problemTag.problemTagName}">Tag</a><span th:unless="${loop.last}">, </span></th:block>
                        </th:block>
                    </td>
                    <td class="total-submission" th:text="${problem.totalSubmission}">0</td>
                    <td class="accepted-submission" th:text="${problem.acceptedSubmission}">0</td>
                </tr>
            </tbody>
        </table>
        <div id="pagination" class="pagination pagination-centered"
             th:with="lowerBound=${currentPage - 5 > 0 ? currentPage - 5 : 1},upperBound=${currentPage + 5 < totalPages ? currentPage + 5 : totalPages}">
            <ul>
                <li th:classappend="${currentPage <= 1} ? 'disabled' : ''" class="previous">
                    <a th:if="${currentPage <= 1}" href="javascript:void(0);">&lt;</a>
                    <a th:unless="${currentPage <= 1}" th:href="@{/administration/all-problems(keyword=${keyword},problemCategory=${selectedProblemCategory},page=${currentPage - 1})}">&lt;</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(lowerBound, upperBound)}" th:classappend="${pageNumber == currentPage} ? 'active' : ''"><a th:href="@{/administration/all-problems(keyword=${keyword},problemCategory=${selectedProblemCategory},page=${pageNumber})}" th:text="${pageNumber}">1</a></li>
                <li th:classappend="${currentPage >= totalPages} ? 'disabled' : ''" class="next">
                    <a th:if="${currentPage >= totalPages}" href="javascript:void(0);">&gt;</a>
                    <a th:unless="${currentPage >= totalPages}" th:href="@{/administration/all-problems(keyword=${keyword},problemCategory=${selectedProblemCategory},page=${currentPage + 1})}">&gt;</a>
                </li>
            </ul>
        </div> <!-- #pagination-->
    </div> <!-- #content -->

    <th:block layout:fragment="scripts">
    <script type="text/javascript">
        $('label[for=all-problems]').click(function() {
            // Fix the bug for Checkbox in FlatUI
            var isChecked = false;
            setTimeout(function() {
                isChecked = $('label[for=all-problems]').hasClass('checked');

                if ( isChecked ) {
                    $('label.checkbox').addClass('checked');
                } else {
                    $('label.checkbox').removeClass('checked');
                }
            }, 100);
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        $('button.btn-danger', '#filters').click(function() {
            if ( !confirm([[#{voj.administration.all-problems.continue-or-not}]]) ) {
                return;
            }
            $('.alert-error').addClass('hide');
            $('button.btn-danger', '#filters').attr('disabled', 'disabled');
            $('button.btn-danger', '#filters').html([[#{voj.administration.all-problems.please-wait}]]);

            var problems    = [],
                action      = $('#actions').val();

            $('label.checkbox', 'table tbody').each(function() {
                if ( $(this).hasClass('checked') ) {
                    var problemId = $('input[type=checkbox]', $(this)).val();
                    problems.push(problemId);
                }
            });

            if ( action == 'delete' ) {
                return doDeleteProblemsAction(problems);
            }
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function doDeleteProblemsAction(problems) {
            var postData = {
                'problems': JSON.stringify(problems)
            };

            $.ajax({
                type: 'POST',
                url: [[@{/administration/deleteProblems.action}]],
                data: postData,
                dataType: 'JSON',
                success: function(result){
                    if ( result['isSuccessful'] ) {
                        for ( var i = 0; i < problems.length; ++ i ) {
                            $('tr[data-value=%s]'.format(problems[i])).remove();
                        }
                    } else {
                        $('.alert').html([[#{voj.administration.all-problems.delete-error}]]);
                        $('.alert').removeClass('hide');
                    }
                    $('button.btn-danger', '#filters').removeAttr('disabled');
                    $('button.btn-danger', '#filters').html([[#{voj.administration.all-problems.apply}]]);
                }
            });
        }
    </script>
    </th:block>
</body>
</html>
