<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}" lang="en">
<head>
    <title th:text="#{voj.administration.edit-user.title} + ': ' + ${user.username} + ' | ' + ${websiteName}">Edit User</title>
</head>
<body>
    <div layout:fragment="content">
    <form id="profile-form" class="adm-detail" onSubmit="onSubmit(); return false;">

        <div class="adm-detail-top">
            <a class="adm-back" th:href="@{/administration/all-users}">&#8592; <span th:text="#{voj.administration.edit-user.back}">back to users</span></a>
            <span class="adm-idchip" th:text="'#' + ${user.uid}">#1</span>
            <div style="flex:1;"></div>
            <button type="button" class="adm-btn-tn danger btn-danger" th:text="#{voj.administration.edit-user.delete-user}">delete</button>
            <button type="submit" class="adm-btn-tn go" th:text="'$ ' + #{voj.administration.edit-user.update-profile}">$ save</button>
        </div>

        <div class="alert alert-error hide"></div>
        <div class="alert alert-success hide" th:text="#{voj.administration.edit-user.profile-updated}">Profile updated.</div>

        <div class="adm-ed2">
            <div class="adm-col">
                <div class="adm-card">
                    <div class="adm-card-head plain" th:text="#{voj.administration.edit-user.edit-user}">// PROFILE</div>
                    <div style="display:flex;align-items:center;gap:16px;padding:18px 20px;border-bottom:1px solid var(--line2);">
                        <div class="adm-mono" style="width:54px;height:54px;border-radius:14px;font-size:24px;" th:text="${#strings.substring(user.username,0,1)}">H</div>
                        <div style="min-width:0;">
                            <div style="font-size:16px;font-weight:700;color:var(--head);font-family:var(--display);" th:text="${user.username}">username</div>
                            <div class="adm-cell muted" th:text="${user.email}">email</div>
                        </div>
                    </div>
                    <div class="adm-card-body">
                        <input id="username" type="hidden" th:value="${user.username}" />
                        <div class="adm-grid-2">
                            <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.email}">EMAIL</span><input id="email" class="adm-input" type="text" maxlength="64" th:value="${user.email}" /></label>
                            <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.password}">NEW PASSWORD</span><input id="password" class="adm-input" type="password" maxlength="16" /></label>
                        </div>
                        <div class="adm-grid-2">
                            <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.location}">LOCATION</span><input id="location" class="adm-input" type="text" th:value="${location}" maxlength="128" /></label>
                            <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.website}">WEBSITE</span><input id="website" class="adm-input" type="text" th:value="${website}" maxlength="64" /></label>
                        </div>
                    </div>
                </div>
                <div class="adm-card">
                    <div class="adm-card-head plain" th:text="#{voj.administration.edit-user.about-me}">// ABOUT</div>
                    <div class="adm-card-body">
                        <div id="markdown-editor"><textarea id="wmd-input" class="wmd-input" th:text="${aboutMe}"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="adm-col">
                <div class="adm-card">
                    <div class="adm-card-head plain" th:text="#{voj.administration.edit-user.access}">// ACCESS</div>
                    <div class="adm-card-body">
                        <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.user-group}">ROLE</span>
                            <select id="user-group" name="userGroup" class="adm-input">
                                <option th:each="userGroup : ${userGroups}" th:value="${userGroup.userGroupSlug}" th:selected="${userGroup.userGroupSlug == user.userGroup.userGroupSlug}" th:text="${userGroup.userGroupName}">Group</option>
                            </select>
                        </label>
                        <label class="adm-flabel"><span th:text="#{voj.administration.edit-user.prefer-language}">DEFAULT LANGUAGE</span>
                            <select id="prefer-language" name="preferLanguage" class="adm-input">
                                <option th:each="language : ${languages}" th:value="${language.languageSlug}" th:selected="${language.languageId == user.preferLanguage.languageId}" th:text="${language.languageName}">Language</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="adm-card">
                    <div class="adm-card-head"><span th:text="#{voj.administration.edit-user.social-links}">// SOCIAL LINKS</span><span class="act" id="new-social-link" th:text="#{voj.administration.edit-user.new-social-link}">+ add</span></div>
                    <div id="social-links" class="adm-card-body" style="gap:0;">
                        <p id="no-social-links" class="adm-cell muted" th:text="#{voj.administration.edit-user.no-social-links}">No social links.</p>
                        <ul style="list-style:none;margin:0;padding:0;"></ul>
                    </div>
                </div>
            </div>
        </div>

    </form>
    </div>

    <th:block layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">
        var aboutMeEditor;
        $(function() { aboutMeEditor = createMarkdownEditor('#wmd-input'); });
        var socialServices = {
            'Facebook':'https://facebook.com/','Twitter':'https://twitter.com/','Weibo':'http://weibo.com/',
            'Instagram':'https://instagram.com/','GitHub':'https://github.com/',
            'StackOverflow':'http://stackoverflow.com/users/','LinkedIn':'https://www.linkedin.com/profile/view?id='
        };
        function getSocialLinkOptions(selected) {
            var opts = '';
            for (var name in socialServices) { opts += '<option value="' + name + '"' + (name == selected ? ' selected' : '') + '>' + name + '</option>'; }
            return opts;
        }
        function getSocialLinkContainer(serviceName, serviceUrl) {
            return '<li class="social-link" style="display:flex;gap:10px;align-items:center;padding:9px 0;border-bottom:1px solid var(--line2);">' +
                   '  <select class="service adm-input" style="width:150px;">' + getSocialLinkOptions(serviceName) + '</select>' +
                   '  <input class="url adm-input" type="text" maxlength="128" value="' + serviceUrl + '" style="flex:1;" />' +
                   '  <span class="del-link" style="color:var(--text3);cursor:pointer;font-size:14px;">&#10005;</span>' +
                   '</li>';
        }
        $(function() {
            var mySocialLinks = {
                'Facebook':[[${socialLinks['Facebook']} ?: '']],'Twitter':[[${socialLinks['Twitter']} ?: '']],
                'Weibo':[[${socialLinks['Weibo']} ?: '']],'Instagram':[[${socialLinks['Instagram']} ?: '']],
                'GitHub':[[${socialLinks['GitHub']} ?: '']],'StackOverflow':[[${socialLinks['StackOverflow']} ?: '']],
                'LinkedIn':[[${socialLinks['LinkedIn']} ?: '']]
            };
            for (var name in mySocialLinks) {
                var username = mySocialLinks[name];
                if (username) {
                    $('#no-social-links').addClass('hide');
                    $('#social-links > ul').append(getSocialLinkContainer(name, socialServices[name] + username));
                }
            }
        });
        $('#new-social-link').click(function() {
            $('#no-social-links').addClass('hide');
            $('#social-links > ul').append(getSocialLinkContainer('Facebook', socialServices['Facebook']));
        });
        $('#social-links').on('click', '.del-link', function() {
            $(this).closest('.social-link').remove();
            if ($('li.social-link', '#social-links').length === 0) { $('#no-social-links').removeClass('hide'); }
        });
        $('#social-links').on('change', 'select.service', function() {
            $('input.url', $(this).closest('.social-link')).val(socialServices[$(this).val()]);
        });
        function getSocialLinks() {
            var socialLinks = {};
            $('.social-link').each(function() {
                var name = $('select.service', $(this)).val(), url = $('input.url', $(this)).val(), base = socialServices[name];
                var username = url.substr(base.length);
                if (url.indexOf(base) != -1 && username != '') { socialLinks[name] = username; }
            });
            return JSON.stringify(socialLinks);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function onSubmit() {
            $('.alert-success, .alert-error', '#profile-form').addClass('hide');
            $('button[type=submit]', '#profile-form').attr('disabled', 'disabled').html([[#{voj.administration.edit-user.please-wait}]]);
            doEditUserAction([[${user.uid}]], $('#password').val(), $('#email').val(), $('#user-group').val(),
                $('#prefer-language').val(), $('#location').val(), $('#website').val(), getSocialLinks(),
                aboutMeEditor ? aboutMeEditor.value() : '');
        }
        function doEditUserAction(uid, password, email, userGroup, preferLanguage, location, website, socialLinks, aboutMe) {
            $.ajax({
                type: 'POST', url: [[@{/administration/editUser.action}]],
                data: { uid:uid, password:password, email:email, userGroup:userGroup, preferLanguage:preferLanguage,
                        location:location, website:website, socialLinks:socialLinks, aboutMe:aboutMe },
                dataType: 'JSON', success: function(result){ processEditUserResult(result); }
            });
        }
        function processEditUserResult(result) {
            if (result['isSuccessful']) {
                $('.alert-success').removeClass('hide');
            } else {
                var m = '';
                if (!result['isUserExists']) { m = [[#{voj.administration.edit-user.user-not-exists}]] + '<br>'; }
                if (!result['isPasswordEmpty'] && !result['isPasswordLegal']) { m += [[#{voj.administration.edit-user.password-illegal}]] + '<br>'; }
                if (result['isEmailEmpty']) { m += [[#{voj.administration.edit-user.email-empty}]] + '<br>'; }
                else if (!result['isEmailLegal']) { m += [[#{voj.administration.edit-user.email-illegal}]] + '<br>'; }
                else if (result['isEmailExists']) { m += [[#{voj.administration.edit-user.email-existing}]] + '<br>'; }
                if (!result['isUserGroupLegal']) { m += [[#{voj.administration.edit-user.user-group-not-exists}]] + '<br>'; }
                if (!result['isPreferLanguageLegal']) { m += [[#{voj.administration.edit-user.prefer-language-not-exists}]] + '<br>'; }
                if (!result['isLocationLegal']) { m += [[#{voj.administration.edit-user.location-illegal}]] + '<br>'; }
                if (!result['isWebsiteLegal']) { m += [[#{voj.administration.edit-user.website-legal}]] + '<br>'; }
                if (!result['isAboutMeLegal']) { m += [[#{voj.administration.edit-user.about-me-legal}]] + '<br>'; }
                $('.alert-error').html(m).removeClass('hide');
            }
            $('button[type=submit]').removeAttr('disabled').html('$ ' + [[#{voj.administration.edit-user.update-profile}]]);
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        $('button.btn-danger').click(function() {
            if (!confirm([[#{voj.administration.edit-user.continue-or-not}]])) { return; }
            $(this).attr('disabled', 'disabled');
            $.ajax({
                type: 'POST', url: [[@{/administration/deleteUsers.action}]],
                data: { 'users': JSON.stringify([ [[${user.uid}]] ]) }, dataType: 'JSON',
                success: function(result){
                    if (result['isSuccessful']) { window.location.href = [[@{/administration/all-users}]]; }
                    else { $('.alert-error').html([[#{voj.administration.edit-user.delete-error}]]).removeClass('hide'); $('button.btn-danger').removeAttr('disabled'); }
                }
            });
        });
    </script>
    </th:block>
</body>
</html>
