<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}" lang="en">
<head>
    <title th:text="#{voj.administration.new-user.title} + ' | ' + ${websiteName}">New User</title>
</head>
<body>
    <div layout:fragment="content">
    <form id="profile-form" class="adm-detail" onSubmit="onSubmit(); return false;">

        <div class="adm-detail-top">
            <a class="adm-back" th:href="@{/administration/all-users}">&#8592; <span th:text="#{voj.administration.new-user.back}">back to users</span></a>
            <div style="flex:1;"></div>
            <button type="submit" class="adm-btn-tn go" th:text="'$ ' + #{voj.administration.new-user.create-account}">$ create</button>
        </div>

        <div class="alert alert-error hide"></div>
        <div class="alert alert-success hide" th:text="#{voj.administration.new-user.user-created}">The user has been created.</div>

        <div class="adm-card" style="max-width:880px;">
            <div class="adm-card-head plain" th:text="#{voj.administration.new-user.new-user}">// NEW USER</div>
            <div class="adm-card-body">
                <div class="adm-grid-2">
                    <label class="adm-flabel"><span th:text="#{voj.administration.new-user.username}">USERNAME</span><input id="username" class="adm-input" type="text" maxlength="16" /></label>
                    <label class="adm-flabel"><span th:text="#{voj.administration.new-user.password}">PASSWORD</span><input id="password" class="adm-input" type="password" maxlength="16" /></label>
                </div>
                <label class="adm-flabel"><span th:text="#{voj.administration.new-user.email}">EMAIL</span><input id="email" class="adm-input" type="text" maxlength="64" /></label>
                <div class="adm-grid-2">
                    <label class="adm-flabel"><span th:text="#{voj.administration.new-user.user-group}">ROLE</span>
                        <select id="user-group" name="userGroup" class="adm-input">
                            <option th:each="userGroup : ${userGroups}" th:value="${userGroup.userGroupSlug}" th:text="${userGroup.userGroupName}">Group</option>
                        </select>
                    </label>
                    <label class="adm-flabel"><span th:text="#{voj.administration.new-user.prefer-language}">DEFAULT LANGUAGE</span>
                        <select id="prefer-language" name="preferLanguage" class="adm-input">
                            <option th:each="language : ${languages}" th:value="${language.languageSlug}" th:text="${language.languageName}">Language</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

    </form>
    </div>

    <th:block layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">
        function onSubmit() {
            $('.alert-success, .alert-error', '#profile-form').addClass('hide');
            $('button[type=submit]', '#profile-form').attr('disabled', 'disabled').html([[#{voj.administration.new-user.please-wait}]]);
            doCreateUserAction($('#username').val(), $('#password').val(), $('#email').val(), $('#user-group').val(), $('#prefer-language').val());
        }
        function doCreateUserAction(username, password, email, userGroup, preferLanguage) {
            $.ajax({
                type: 'POST', url: [[@{/administration/newUser.action}]],
                data: { username:username, password:password, email:email, userGroup:userGroup, preferLanguage:preferLanguage },
                dataType: 'JSON', success: function(result){ processCreateUserResult(result); }
            });
        }
        function processCreateUserResult(result) {
            if (result['isSuccessful']) {
                $('#profile-form input').val('');
                $('.alert-success', '#profile-form').removeClass('hide');
            } else {
                var m = '';
                if (result['isUsernameEmpty']) { m += [[#{voj.administration.new-user.username-empty}]] + '<br>'; }
                else if (!result['isUsernameLegal']) {
                    var u = $('#username').val();
                    if (u.length < 6 || u.length > 16) { m += [[#{voj.administration.new-user.username-length-illegal}]] + '<br>'; }
                    else if (!u[0].match(/[a-z]/i)) { m += [[#{voj.administration.new-user.username-beginning-illegal}]] + '<br>'; }
                    else { m += [[#{voj.administration.new-user.username-character-illegal}]] + '<br>'; }
                } else if (result['isUsernameExists']) { m += [[#{voj.administration.new-user.username-existing}]] + '<br>'; }
                if (result['isPasswordEmpty']) { m += [[#{voj.administration.new-user.password-empty}]] + '<br>'; }
                else if (!result['isPasswordLegal']) { m += [[#{voj.administration.new-user.password-illegal}]] + '<br>'; }
                if (result['isEmailEmpty']) { m += [[#{voj.administration.new-user.email-empty}]] + '<br>'; }
                else if (!result['isEmailLegal']) { m += [[#{voj.administration.new-user.email-illegal}]] + '<br>'; }
                else if (result['isEmailExists']) { m += [[#{voj.administration.new-user.email-existing}]] + '<br>'; }
                if (!result['isUserGroupLegal']) { m += [[#{voj.administration.new-user.user-group-empty}]] + '<br>'; }
                if (!result['isLanguageLegal']) { m += [[#{voj.administration.new-user.language-empty}]] + '<br>'; }
                $('.alert-error', '#profile-form').html(m).removeClass('hide');
            }
            $('button[type=submit]', '#profile-form').removeAttr('disabled').html('$ ' + [[#{voj.administration.new-user.create-account}]]);
        }
    </script>
    </th:block>
</body>
</html>
