div#content div#main-content {
	margin-top: 20px;
}

div#content div#main-content div#contests table {
	background-color: #fff;
	border-top: 5px solid #16a085;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	        box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

div#content div#main-content div#contests table tr.viewed {
	filter: alpha(opacity=50);
	opacity: .5;
}

div#content div#main-content div#contests table.table tr.contest {
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8;
	-webkit-transition: background .1s linear;
	   -moz-transition: background .1s linear;
	        transition: background .1s linear;
}

div#content div#main-content div#contests table.table tr.contest > td.overview {
	padding: 10px;
}

div#content div#main-content div#contests table.table tr.contest > td.overview ul.inline li {
	color: #999;
	font-size: 12px;
	padding-left: 0;
}

div#content div#main-content div#contests table.table tr.contest > td.status {
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	width: 15%;
}

div#content div#main-content div#contests table.table tr.contest > td.overview h5 {
	height: 20px;
	overflow: hidden;
}

div#content div#main-content div#contests table.table tr.contest > td.status {
	background-color: #eaeaea;
}

div#content div#main-content div#contests table.table tr.contest:hover {
	background-color: #f6f6f6 !important;
}

div#content div#main-content div#contests table.table tr.contest:hover > td.status {
	background-color: #eaeaea !important;
}

div#content div#main-content div#contests table.table tr.contest.Done > td.status {
	color: #444;
}

div#content div#main-content div#contests table.table tr.contest.Ready > td.status {
	color: #16a085;
}

div#content div#main-content div#contests table.table tr.contest.Live {
	background-color: #fff0f0;
}

div#content div#main-content div#contests table.table tr.contest.Live > td.status {
	background-color: #fdd;
	color: #ff8080;
}

div#content div#main-content div#contests div#more-contests {
	background-color: #f9f9f9;
	border-bottom: 5px solid #1abc9c;
	cursor: pointer;
	padding: 10px;
	text-align: center;
}

div#content div#main-content div#contests div#more-contests p {
	margin-bottom: 0;
}

div#content div#main-content div#contests div#more-contests img {
	max-height: 15px;
	height: 15px;
}

div#content div#main-content div#sidebar div.widget {
	background-color: #fff;
	border-top: 4px solid #16a085;
	margin-bottom: 20px;
	padding: 10px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#content div#main-content div#sidebar {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}