div#content div.leaderboard {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	        box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

div#content div.leaderboard div.header {
	background-color: #16a085;
	color: #fff;
	padding: 10px;
}

div#content div.leaderboard div.body {
	background-color: #fff;
	position: relative;
}

div#content div.leaderboard div.body thead {
	background: #fff;
	top: 0;
}

div#content div.leaderboard div.body th.rank,
div#content div.leaderboard div.body td.rank {
	border-right: 1px solid #ddd;
	text-align: center;
	width: 40px;
}

div#content div.leaderboard div.body th.contestant,
div#content div.leaderboard div.body td.contestant {
	width: 80px;
}

div#content div.leaderboard div.body th.score,
div#content div.leaderboard div.body td.score {
	text-align: center;
	width: 60px;
}

div#content div.leaderboard div.body th.time,
div#content div.leaderboard div.body td.time {
	border-right: 1px solid #ddd;
	text-align: center;
	width: 80px;
}

div#content div.leaderboard div.body th.submission,
div#content div.leaderboard div.body td.submission {
	border-right: 1px solid #ddd;
	text-align: center;
}
