div#header {
	overflow: hidden;
	padding: 20px 0;
	position: absolute;
	top: 0;
	z-index: 128;
}

div#content {
	position: relative;
}

div#content div#introduction {
	height: 600px;
}

div#content div#introduction div.item {
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
}

div#content div#introduction div.item.first {
	background-image: url('../img/sliders/slide-01.jpg');
}

div#content div#introduction div.item.second {
	background-image: url('../img/sliders/slide-02.jpg');
}

div#content div#introduction div.item.third {
	background-image: url('../img/sliders/slide-03.jpg');
}

div#content div#slogan {
	position: absolute;
	top: 300px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 128;
}

div#footer {
	
}