form#problem-form label {
	font-weight: bold;
}

form#problem-form label > a {
	font-weight: normal;
}

form#problem-form input[type=text],
form#problem-form textarea {
	resize: none;
	width: 100%;
}

form#problem-form div#markdown-editor {
	margin-bottom: 20px;
}

form#problem-form a#new-test-case {
	display: block;
	font-size: 18px;
	margin: 4px 0 10px;
}

form#problem-form div#test-cases ul {
	list-style: none;
	margin: 0 0 10px;
}

form#problem-form div#test-cases li.test-case {
	background-color: #fafafa;
	border: 2px solid #ccc;
	margin: 5px 0;
	overflow: hidden;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

form#problem-form div#test-cases li.test-case div.header {
	height: 40px;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}

form#problem-form div#test-cases li.test-case div.header h5,
form#problem-form div#test-cases li.test-case div.header ul.inline {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

form#problem-form div#test-cases li.test-case div.header ul.inline {
	font-size: 20px;
	margin: 10px 0;
	position: absolute;
	right: 10px;
}

form#problem-form div#test-cases li.test-case div.body {
	border-top: 2px solid #ccc;
	padding: 10px 10px 0;
}

form#problem-form div.section {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

form#problem-form div.section div.header,
form#problem-form div.section div.body,
form#problem-form div.section div.footer {
	padding: 10px;
}

form#problem-form div.section div.header {
	border-bottom: 1px solid #eee;
}

form#problem-form div.section div.header h5 {
	margin: 0;
	text-transform: none;
}

form#problem-form div.section div.body {
	overflow: hidden;
}

form#problem-form div.section div.body div.span8 {
	padding: 5px 0;
}

form#problem-form div.section div.body ul {
	list-style: none;
	margin-left: 0;
}

form#problem-form div.section div.body ul.sub-categories {
	padding-left: 30px;
}

form#problem-form div.section div.body .tagsinput {
	margin-bottom: 0;
}

form#problem-form div.section div.footer {
	background: #f2f4f8;
	border-top: 1px solid #ddd;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	form#problem-form div.section div.body div.span8 {
		text-align: left;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
