<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Properties>
		<Property name="fileName">logs/voj-judger.log</Property>
		<Property name="filePattern">logs/voj-judger-%d{yyyy-MM-dd}.log</Property>
		<Property name="patternLayout">[%p] %d [%t] %c - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="${patternLayout}" />
		</Console>
		<RollingFile name="RollingFile" fileName="${fileName}" filePattern="${filePattern}">
			<Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<PatternLayout pattern="${patternLayout}" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
