<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.verwandlung.voj.web.mapper.DiscussionReplyMapper">
	<!-- ResultMap -->
	<resultMap id="DiscussionReplyResultMap" type="org.verwandlung.voj.web.model.DiscussionReply">
		<id property="discussionReplyId" column="discussion_reply_id" />
		<result property="discussionThreadId" column="discussion_thread_id" />
		<result property="discussionReplyCreateTime" column="discussion_reply_time" />
		<result property="discussionReplyContent" column="discussion_reply_content" />
		<result property="discussionReplyVotes" column="discussion_reply_votes" />
		<association property="discussionReplyCreator" 
			javaType="org.verwandlung.voj.web.model.User" 
			column="discussion_reply_uid"
			select="org.verwandlung.voj.web.mapper.UserMapper.getUserUsingUid" />
	</resultMap>

	<!-- Methods -->
	<select id="getDiscussionReplyUsingReplyId"
		parameterType="long"
		resultMap="DiscussionReplyResultMap"
		useCache="true">
		SELECT * 
		FROM voj_discussion_replies
		WHERE discussion_reply_id = #{discussionReplyId}
	</select>
	<select id="getDiscussionRepliesUsingThreadId" 
		parameterType="map"
		resultMap="DiscussionReplyResultMap"
		useCache="true">
		SELECT * 
		FROM voj_discussion_replies
		WHERE discussion_thread_id = #{discussionThreadId}
		ORDER BY discussion_reply_id
		LIMIT #{offset}, #{limit}
	</select>
	<insert id="createDiscussionReply" 
		parameterType="org.verwandlung.voj.web.model.DiscussionReply"
		flushCache="true" 
		keyProperty="discussionReplyId" 
		keyColumn="discussion_reply_id"
		useGeneratedKeys="true">
		INSERT INTO voj_discussion_replies(discussion_thread_id, discussion_reply_uid, discussion_reply_time, discussion_reply_content, discussion_reply_votes) 
		VALUES (#{discussionThreadId}, #{discussionReplyCreator.uid}, #{discussionReplyCreateTime}, #{discussionReplyContent}, #{discussionReplyVotes})
	</insert>
	<update id="updateDiscussionReply"
		parameterType="org.verwandlung.voj.web.model.DiscussionThread"
		flushCache="true">
		UPDATE voj_discussion_replies 
		SET discussion_thread_id = #{discussionThreadId}, discussion_reply_uid = #{discussionReplyCreator.uid}, discussion_reply_time = #{discussionReplyCreateTime}, discussion_reply_content = #{discussionReplyContent}, discussion_reply_votes = #{discussionReplyVotes}
		WHERE discussion_reply_id = #{discussionReplyId}
	</update>
	<delete id="deleteDiscussionReplyUsingReplyId"
		parameterType="long"
		flushCache="true">
		DELETE FROM voj_discussion_replies 
		WHERE discussion_reply_id = #{discussionReplyId}
	</delete>
</mapper>