<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" lang="en">
<head>
    <title th:text="#{voj.contests.contests.title} + ' | ' + ${websiteName}">Contests</title>
    <link rel="stylesheet" type="text/css" th:href="|${cdnUrl}/css/contests/contests.css?v=${version}|" />
</head>
<body>
    <div id="content" class="container" layout:fragment="content"
         th:with="keyword=${param.keyword != null ? param.keyword[0] : ''}">
        <div id="main-content" class="row-fluid">
            <div id="contests" class="span8">
                <table class="table">
                    <tr class="contest" th:each="contest : ${contests}"
                        th:with="contestStatus=${currentTime.before(contest.startTime) ? 'Ready' : (currentTime.after(contest.endTime) ? 'Done' : 'Live')}"
                        th:classappend="${contestStatus}">
                        <td class="overview">
                            <h5><a th:href="@{/contest/{id}(id=${contest.contestId})}" th:text="${contest.contestName}">Contest</a></h5>
                            <ul class="inline">
                                <li th:text="${contest.contestMode}">Mode</li>
                                <li><span th:text="#{voj.contests.contests.start-time}">Start Time</span>: <span th:text="${@dateFormatter.dateTimeLongMedium(contest.startTime, language)}">time</span></li>
                                <li><span th:text="#{voj.contests.contests.end-time}">End Time</span>: <span th:text="${@dateFormatter.dateTimeLongMedium(contest.endTime, language)}">time</span></li>
                            </ul>
                        </td>
                        <td class="status" th:text="${contestStatus}">Status</td>
                    </tr>
                </table> <!-- .table -->
                <div id="more-contests">
                    <p class="availble" th:text="#{voj.contests.contests.more-contests}">More Contests...</p>
                    <img th:src="|${cdnUrl}/img/loading.gif?v=${version}|" alt="Loading" class="hide" />
                </div>
            </div> <!-- #contests -->
            <div id="sidebar" class="span4">
                <div id="search-widget" class="widget">
                    <h4 th:text="#{voj.contests.contests.search}">Search</h4>
                    <form id="search-form" th:action="@{/contest}">
                        <div class="control-group">
                            <input name="keyword" class="span12" type="text" th:placeholder="#{voj.contests.contests.keyword}" th:value="${keyword}" />
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" th:text="#{voj.contests.contests.search}">Search</button>
                    </form> <!-- #search-form -->
                </div> <!-- #search-widget -->
            </div> <!-- #sidebar -->
        </div> <!-- #main-content -->
    </div> <!-- #content -->

    <th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="|${cdnUrl}/js/date-${language}.min.js?v=${version}|"></script>
    <script type="text/javascript">
        function setLoadingStatus(isLoading) {
            if ( isLoading ) {
                $('p', '#more-contests').addClass('hide');
                $('img', '#more-contests').removeClass('hide');
            } else {
                $('img', '#more-contests').addClass('hide');
                $('p', '#more-contests').removeClass('hide');
            }
        }
    </script>
    <script type="text/javascript">
        $('#more-contests').click(function() {
            var isLoading         = $('img', this).is(':visible'),
                hasNextRecord     = $('p', this).hasClass('availble'),
                numberOfContests  = $('tr.contest').length;

            if ( !isLoading && hasNextRecord ) {
                setLoadingStatus(true);
                return getMoreContests(numberOfContests);
            }
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function getMoreContests(startIndex) {
            var pageRequests = {
                'keyword': [[${param.keyword != null ? param.keyword[0] : ''}]],
                'startIndex': startIndex
            };

            $.ajax({
                type: 'GET',
                url: [[@{/contest/getContests.action}]],
                data: pageRequests,
                dataType: 'JSON',
                success: function(result){
                    return processContestsResult(result);
                }
            });
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function processContestsResult(result) {
            if ( result['isSuccessful'] ) {
                displayContests(result['contests']);
            } else {
                $('p', '#more-contests').removeClass('availble');
                $('p', '#more-contests').html([[#{voj.contests.contests.no-more-contests}]]);
                $('#more-contests').css('cursor', 'default');
            }
            setLoadingStatus(false);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function displayContests(contests) {
            for ( var i = 0; i < contests.length; ++ i ) {
                var contestStatus    = 'Done',
                    currentTime      = new Date(),
                    contestStartTime = new Date(contests[i]['startTime']),
                    contestEndTime   = new Date(contests[i]['endTime']);

                if ( currentTime < contestStartTime ) {
                    contestStatus = 'Ready';
                } else if ( currentTime >= contestStartTime && currentTime <= contestEndTime ) {
                    contestStatus = 'Live';
                }
                $('#contests tbody').append('<tr class="contest %s">'.format(contestStatus) +
                    '    <td class="overview">' +
                    '        <h5><a href="' + [[@{/contest/}]] + '%s">%s</a></h5>'.format(contests[i]['contestId'], contests[i]['contestName']) +
                    '        <ul class="inline">' +
                    '            <li>%s</li>'.format(contests[i]['contestMode']) +
                    '            <li>' + [[#{voj.contests.contests.start-time}]] + ': %s</li>'.format(getFormatedDateString(contests[i]['startTime'], [[${language}]])) +
                    '            <li>' + [[#{voj.contests.contests.end-time}]] + ': %s</li>'.format(getFormatedDateString(contests[i]['endTime'], [[${language}]])) +
                    '        </ul>' +
                    '    </td>' +
                    '    <td class="status">%s</td>'.format(contestStatus) +
                    '</tr>');
            }
        }
    </script>
    </th:block>
</body>
</html>
