div#discussion-thread {
	margin-bottom: 60px;
}

div#discussion-thread div.header {
	border-bottom: 1px solid #dedede;
}

div#discussion-thread div.header ul.inline li {
	padding-left: 0;
	padding-right: 10px;
}

div#discussion-thread div.header ul.inline li a {
	color: #34495e;
}

div#discussion-thread div.header input[type="text"] {
	height: auto;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

div#discussion-thread div.body div.avatar {
	padding: 10px 10px 10px 0; 
	height: 80px;
}

div#discussion-thread div.body div.avatar img {
	border-radius: 4px;
}

div#discussion-thread div.body div.discussion-reply {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px 0 20px;
	position: relative;
}

div#discussion-thread div.body div.discussion-reply:before,
div#discussion-thread div.body div.discussion-reply:after {
	content: ' ';
	border-color: transparent;
	border-style: solid solid outset;
	display: block;
	pointer-events: none;
	position: absolute;
	top: 11px;
	left: -16px;
	right: 100%;
	height: 0;
	width: 0;
}

div#discussion-thread div.body div.discussion-reply:before {
	border-right-color: #ddd;
	border-width: 8px;
}

div#discussion-thread div.body div.discussion-reply:after {
	border-width: 7px;
	border-right-color: #f7f7f7;
	margin-top: 1px;
	margin-left: 2px
}

div#discussion-thread div.body div.discussion-reply.current-user {
	border-color: #bfccd1;
}

div#discussion-thread div.body div.discussion-reply.current-user:before {
	border-right-color: #bfccd1;
	border-width: 8px;
}

div#discussion-thread div.body div.discussion-reply div.reply-header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #767676;
	padding: 10px 15px;
}

div#discussion-thread div.body div.discussion-reply.current-user div.reply-header {
	background-color: #f2f8fa;
	border-bottom-color: #dde4e6
}

div#discussion-thread div.body div.discussion-reply div.markdown {
	padding: 10px 15px;
}

div#discussion-thread div.body div.discussion-reply div.markdown p:last-child {
	margin-bottom: 0;
}

div#discussion-thread div.body div.discussion-reply div.markdown-editor ul.inline {
	margin: 10px 0;
}

div#discussion-thread div.body div.discussion-reply div.markdown-editor ul.inline li {
	padding: 0 0 0 10px;
}

div#discussion-thread div.body div.discussion-reply div.reply-footer {
	border-top: 1px solid #eee;
	position: relative;
}

div#discussion-thread div.body div.discussion-reply div.reply-footer li {
	border-right: 1px solid #e5e5e5;
	padding: 10px 15px;
}

div#discussion-thread div.body div.discussion-reply div.reply-footer a {
	color: #666;
	font-size: 20px;
	text-decoration: none;
}

div#discussion-thread div.body div.discussion-reply div.reply-footer a.active {
	color: #16a085;
}

div#discussion-thread div.body ul#discussion-replies {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#discussion-thread div.body div#more-discussion-replies {
	margin: 20px 0 40px;
}

div#discussion-thread div.body div#more-discussion-replies img {
	max-height: 24px;
}

div#discussion-thread div.body div#editor div.reply-header {
	height: 40px;
}

div#discussion-thread div.body div#editor div.reply-header label {
	padding-top: 10px;
	position: relative;
}

div#discussion-thread div.body div#editor button#create-discussion-reply {
	position: absolute;
	top: 0;
	right: 0;
}

div#discussion-thread div.body div.markdown-editor,
div#discussion-thread div.body div.alert {
	margin: 10px 15px;
}

div#discussion-thread div.body div.markdown-editor div.wmd-button-bar,
div#discussion-thread div.body div.markdown-editor textarea.wmd-input {
	border-width: 1px;
}

div#discussion-thread div.body div.section {
	border-bottom: 1px solid #dedede;
	font-size: 13px;
	padding: 10px 0 10px;
}

div#discussion-thread div.body div.section:last-child {
	border-bottom: none;
}

div#discussion-thread div.body div.section p {
	padding-left: 15px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#discussion-thread div.header div.span3 {
		text-align: left;
		margin-bottom: 10px;
	}

	ul#discussion-replies li.row-fluid div.span2,
	div#editor div.span2 {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}