div#content div#main-content {
	margin-top: 20px;
}

div#content div#main-content div#discussion table {
	background-color: #fff;
	border-top: 5px solid #16a085;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	        box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

div#content div#main-content div#discussion table tr.viewed {
	filter: alpha(opacity=50);
	opacity: .5;
}

div#content div#main-content div#discussion table.table tr.discussion-thread {
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8;
	-webkit-transition: background .1s linear;
	   -moz-transition: background .1s linear;
	        transition: background .1s linear;
}

div#content div#main-content div#discussion table td.avatar,
div#content div#main-content div#discussion table td.replies {
	width: 50px;
}

div#content div#main-content div#discussion table td.topic {
	text-align: left;
	vertical-align: top;
}

div#content div#main-content div#discussion table.table tr.discussion-thread:hover {
	background-color: #fff8df !important;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.overview {
	padding: 10px;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.overview ul.inline li {
	color: #999;
	font-size: 12px;
	padding-left: 0;
}

div#content div#main-content div#discussion table.table tr.discussion-thread:hover > td.reply-count {
	background-color: #ffe9ca !important;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.reply-count {
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	width: 15%;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.avatar {
	vertical-align: middle;
	width: 15%;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.avatar > img {
	max-width: 100%;
	width: 100%;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div#content div#main-content div#discussion table.table tr.discussion-thread > td.reply-count {
	background-color: #ffedd5;
}

div#content div#main-content div#discussion div#more-discussion-threads {
	background-color: #f9f9f9;
	border-bottom: 5px solid #1abc9c;
	cursor: pointer;
	padding: 10px;
	text-align: center;
}

div#content div#main-content div#discussion div#more-discussion-threads p {
	margin-bottom: 0;
}

div#content div#main-content div#discussion div#more-discussion-threads img {
	max-height: 15px;
	height: 15px;
}

div#content div#main-content div#sidebar div.widget {
	background-color: #fff;
	border-top: 4px solid #16a085;
	margin-bottom: 20px;
	padding: 10px;
}

div#content div#main-content div#sidebar div#create-thread-widget {
	border-top: none;
	padding: 0;
}

div#content div#main-content div#sidebar div#create-thread-widget div.header {
	background-image: url('../../img/discussion.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 120px;
}

div#content div#main-content div#sidebar div#create-thread-widget div.body {
	padding: 10px;
}

div#content div#main-content div#sidebar div#topics-widget a {
	display: block;
	padding: 5px;
}

div#content div#main-content div#sidebar div#topics-widget a.active {
	background-color: #16a085;
	color: #fff;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div#content div#main-content div#sidebar div#topics-widget h6 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-transform: none;
}

div#content div#main-content div#sidebar div#topics-widget h6 > a {
	color: #16a085;
}

div#content div#main-content div#sidebar div#topics-widget ul.inline {
	margin: 0;
}

div#content div#main-content div#sidebar div#topics-widget ul.inline > li {
	color: #1abc9c;
	padding: 0;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#content div#main-content div#sidebar {
		margin-top: 20px;
	}

	div#content div#main-content div#sidebar div#create-thread-widget {
		border-top: 4px solid #16a085;
	}

	div#content div#main-content div#sidebar div#create-thread-widget div.header {
		background-image: none;
		height: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}