<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="fileName">/home/xiehaozhe/logs/voj.log</Property>
		<Property name="filePattern">/home/xiehaozhe/logs/voj-%d{yyyy-MM-dd}-%i.log.gz</Property>
		<Property name="patternLayout">[%p] %d [%t] %c - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="${patternLayout}" />
		</Console>
		<RollingFile name="RollingFile" fileName="${fileName}"
			filePattern="${filePattern}">
			<Policies>
				<SizeBasedTriggeringPolicy size="64 MB" />
			</Policies>
			<PatternLayout pattern="${patternLayout}" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
